---
import { getCollection } from 'astro:content'
import BlogLayout from '../../layouts/BlogLayout.astro'
import { AppConfig } from '../../AppConfig'

export async function getStaticPaths() {
    const blogEntries = await getCollection('blog')
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<BlogLayout title={`${entry.data.title} | ${AppConfig.title}`}>
    <div class="lg:px-24 px-4">
        <h1 class="text-6xl font-normal my-6 leading-[4.2rem]">
            {entry.data.title}
        </h1>
        <h5>related tags:</h5>
        <ul class="menu menu-horizontal rounded-lg m-0 mb-16 p-0 gap-4">
            {
                entry.data.tags.map((tag) => (
                    <li class="m-0 p-0 text-xs">
                        <a
                            class="rounded-lg m-0 p-0"
                            href="#">
                            {tag}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
    {
        entry.data.cover && (
            <div class="h-[70svh] overflow-hidden flex">
                <img
                    src={entry.data.cover}
                    class="object-cover w-full h-ful"
                />
            </div>
        )
    }
    <div class="lg:px-24 px-4">
        <Content />
    </div>
</BlogLayout>
